
body {
    background-color: #0a0a23;

}



.tentang-section {
  padding: 4rem 2rem;
  text-align: center;
}

.tentang-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 700px;
  margin: auto;
}

.tentang-foto {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #00ffe7;
  box-shadow: 0 0 20px #00ffe7;
}

.tentang-deskripsi h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 0 0 10px #00ffe7;
  color: #ffffff;
}

.tentang-deskripsi p {
  font-size: 1rem;
  color: #b2fefa;
  line-height: 1.6;
}

/* Responsif */
@media (min-width: 768px) {
  .tentang-container {
    flex-direction: row;
    text-align: left;
  }

  .tentang-foto {
    margin-right: 2rem;
  }

  .tentang-deskripsi {
    flex: 1;
  }
}
